services:
  mysql:
    image: 'mysql:latest'
    environment:
      - 'MYSQL_DATABASE=mydatabase'
      - 'MYSQL_PASSWORD=YOUR_PASSWORD_HERE'
      - 'MYSQL_ROOT_PASSWORD=YOUR_ROOT_PASSWORD_HERE'
      - 'MYSQL_USER=myuser'
    ports:
      - '3306'
